body {
    background-image: url('images/aes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: right top;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
}